.movie_list {
  display: flex;
  flex-direction: column;
}

.movie_filters_header {
  justify-content: space-between;
  padding: 10px 30px;
  margin-bottom: 5px;
}
.movie_filters_fs {
  justify-content: space-between;
}

.movie_filter {
  list-style-type: none;
}
.movie_filter_item {
  padding: 5px 10px;
  cursor: pointer;
}

.movie_filter_item.active {
  border-bottom: 1px solid #e6e6e6;
  font-weight: 500;
}

.movie_sorting {
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  height: 30px;
  padding: 0 5px;
  margin: 0 10px;
}
