.movie_list {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.movie_list_heading {
  color: var(--body_color);
}

.movie_filters_header {
  justify-content: space-between;
  padding: 10px 30px;
  margin-bottom: 5px;
}
.movie_filters_fs {
  justify-content: space-between;
}

.movie_filter {
  list-style-type: none;
}
.movie_filter_item {
  padding: 5px 10px;
  cursor: pointer;
  color: var(--body_color);
}

.movie_filter_item.active {
  border-bottom: 1px solid rgba(230, 230, 230, 0.5);
  font-weight: 500;
}

.movie_sorting {
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  height: 30px;
  padding: 0 5px;
  margin: 0 10px;
}

.movie_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
